<div class="container">
  <div class="row">
    <main class="col-md-12">
      <!-- Start your code here -->
      <h4>Welcome to the About page</h4>
      <br />
      <br />
      <h1>A brief introduction about me</h1>
      <br />
      <p>
        My name is Jorid Spaha and my Student ID is 114254204. I came to Canada
        on 5-Jan-2022 to pursuit Database Application Developer post-graduate
        program at Seneca College.
      </p>
      <!-- End your code here  -->
    </main>
  </div>
</div>