<div class="row">
  <div class="col-md-12">
    <br />
    {{#each course}}
      <h2>{{this.courseDescription}}</h2>
      <hr />
      <form>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="courseDescription">Course Code</label>
              <input
                class="form-control"
                id="courseCode"
                name="courseCode"
                type="text"
                readonly
                value="{{this.courseCode}}"
              />
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <label for="courseDescription">Course Description</label>
              <input
                class="form-control"
                id="courseDescription"
                name="courseDescription"
                type="text"
                readonly
                value="{{this.courseDescription}}"
              />
            </div>
          </div>
        </div>
        <hr />
      </form>
    {{/each}}
  </div>
</div>